@import url("https://fonts.googleapis.com/css?family=Exo+2&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  background: white;
  color: black;
  font-size: 14px;
  min-height: calc(100vh-50px);
  display: grid;
  place-items: center;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Movies {
  margin-bottom: 24px;
}

.Movies select {
  appearance: none;
  background: white;
  font-size: 20px;
  margin-left: 12px;
  border-radius: 4px;
  padding: 6px 24px;
}

.ShowCase {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  background: #f5f5fa;
  border: 1px solid grey;
  padding: 12px;
  border-radius: 4px;
  color: black;
}

.screenText {
  margin-top: 15px;
  background-color: lightgray;
  width: 350px;
  height: 25px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.ShowCase li {
  margin: 0 12px;
}

.Cinema {
  margin-top: 20px;
  margin-bottom: 18px;
  perspective: 400px;
  display: grid;
  place-items: center;
  grid-gap: 24px;
}

.Navbar {
  box-sizing: border-box !important;
  overflow: hidden;
  max-width: flex;
  width: 206vh;
  height: 55px;
  background: #1f2533;
  color: white;
  text-align: center;
  padding: 1px;
}

.Cinema .screen {
  height: 70px;
  background: white;
  width: 100%;
  transform: rotateX(-30deg) scale(1.1);
  box-shadow: 0 3px 10px 2px;
}

.Cinema .seats {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(12, min-content);
  align-items: center;
}

.Cinema .seats .seat:nth-of-type(8n + 2) {
  margin-right: 12px;
}

.Cinema .seats .seat:nth-of-type(8n + 6) {
  margin-right: 12px;
}

.Cinema .seats .seat:not(.occupied):hover,
.Cinema .seats .seat:not(.occupied):focus {
  cursor: pointer;
  background: #c1eac5;
}

.Cinema .seats ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: transparent;
  border: 1px solid #1ea83c;
  animation: show-off 0.8s;
  visibility: hidden;
}

.seat {
  padding: 10px;
  display: inline-block;
  background: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #1ea83c;
  transition: transform 0.3s ease-in-out;
  position: relative;
  top: 1px;
}

.seat.selected {
  background: #1ea83c !important;
}

.seat.occupied {
  background: #eeeeee;
  border: 1px solid grey;
}

.info .count {
  color: #f84464;
  text-align: center;
}

.info .total {
  color: #f84464;
}
.red {
  color: red;
}
.gold {
  color: #daa520;
}

.bg {
  padding: 5px;
  border: white;
  border-radius: 3px;
  background-color: #f84464;
  width: 10%;
  color: #ffffff;
  font-weight: 15px;
  cursor: pointer;
}

.movieName {
  margin-top: 25px;
  font-size: 15px;
}
